<div class="form-container">
  <h5 class='title'>Login</h5>
  <form #loginForm="ngForm">
    <div class='input-fields'>
      <input name="email" [(ngModel)]="model.email" #email="ngModel" type="email" placeholder="Email" maxlength="80"
        required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />

      <input name="password" [(ngModel)]='model.password' type="password" placeholder="Password" #password="ngModel"
        minlength="6" maxlength="12" required />
    </div>
  </form>

  <button class="btn" (click)='onLogin(loginForm)' [disabled]="loginForm.invalid">
    Submit
    <fa-icon class='submit-icon' [icon]="arrow"> </fa-icon>
  </button>
</div>

<div class='errors'>
  <div *ngIf="email.errors?.required && email.touched">
    Email Is Required.
  </div>
  <div *ngIf="email.errors?.pattern && email.touched">
    Enter a Valid Email.
  </div>
  <div *ngIf="password.errors?.required && password.touched">
    Password Is Required.
  </div>
  <div *ngIf="password.errors?.minlength && password.touched">
    Password Must Be 6-12 Characters.
  </div>
  <div *ngIf="serverErr">
    {{ serverErr }}
  </div>
</div>