<div *ngIf="trail && !isEditMode">
  <h1>{{ trail.name }}</h1>

  <h5>Description</h5>
  <p>{{ trail.description }}</p>

  <h5>Location</h5>
  <p>{{ trail.location }} </p>

  <img [src]="trail.image" alt="trail.name" />

  <div *ngIf='trail.creator === userId'>
    <button (click)="onDelete()">Delete</button>
    <button (click)="onEdit()">Edit</button>
  </div>
</div>

<div *ngIf="trail && isEditMode">
  <form (ngSubmit)="onSave(editForm)" #editForm="ngForm" appCheckCoordinates>
    <h1>Edit Trail</h1>

    <div>
      <input name="name" #name="ngModel" id="name" [(ngModel)]="trail.name" type="text" placeholder="Name"
        maxLength='20' required />
      <div [hidden]="name.valid || name.pristine">
        <p>Name is required</p>
      </div>
    </div>
    <div>
      <textarea name="description" [(ngModel)]="trail.description" #description="ngModel"
        placeholder="Enter a description" maxLength="200" required></textarea>
      <div [hidden]="description.valid || description.untouched">
        <div *ngIf="description.errors?.required">
          Description Is Required.
        </div>
      </div>
    </div>
    <div>
      <input name="image" [(ngModel)]='trail.image' type="text" placeholder="Enter URL to Cover Image" #image="ngModel"
        required
        pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)" />
      <div [hidden]="image.valid || image.untouched">
        <div *ngIf="image.errors?.required">
          Image Url Is Required.
        </div>
        <div *ngIf="image.errors?.pattern">
          Enter a Valid URL beginning with http or https
        </div>
      </div>
    </div>
    <div>
      <input name="latitude" [(ngModel)]="trail.location[0]" [ngModelOptions]="{ updateOn: 'blur' }" type="number"
        placeholder="Latitude" min="-90" max="90" required #latitude="ngModel">
      <input name="longitude" [(ngModel)]="trail.location[1]" [ngModelOptions]="{ updateOn: 'blur' }" type="number"
        placeholder="Longitude" min="-180" max="180" #longitude="ngModel" required>

      <div [hidden]="latitude.untouched && longitude.untouched">
        <div *ngIf="latitude?.errors?.required">
          Latitude Is Required.
        </div>
        <div *ngIf="longitude?.errors?.required">
          Longitude Is Required.
        </div>
        <div *ngIf="editForm.errors?.invalidCoordinates">
          Latitude must be between -90 and 90.
          Longitude must be between -180 and 180.
        </div>
      </div>
    </div>
    <div *ngIf="trail.image">
      <img [src]="trail.image" />
    </div>
    <div *ngIf="serverErr">
      {{ serverErr }}
    </div>

    <button class="btn" type="submit" [disabled]="editForm.invalid">Save</button>
  </form>
</div>