<div class="container">
  <div *ngIf="trail" class="title fit-text">
    <h1 fittext>{{ trail.name }}</h1>
  </div>

  <div class="edit-buttons" *ngIf="trail.creator === userId">
    <button class="edit-btn" [routerLink]="['/trails/edit', trail._id]">
      Edit
    </button>
    <button class="delete-btn" (click)="onDelete()">Delete</button>
  </div>

  <img
    *ngIf="trail"
    class="banner-image"
    [src]="trail.image"
    alt="trail.name"
  />
  <div *ngIf="trail" class="description fit-text">
    <p>
      {{ trail.description }}
    </p>
  </div>

  <div #map class="map"></div>
</div>
