<div class="container">
  <div *ngIf="trail" class="title fit-text">
    <h1 fittext>{{ trail.name }}</h1>
  </div>

  <img
    *ngIf="trail"
    class="banner-image"
    [src]="trail.image"
    alt="trail.name"
  />
  <div *ngIf="trail" class="description fit-text">
    <p>
      {{ trail.description }}
    </p>
  </div>

  <div #map class="map"></div>

  <!-- <h5>Location</h5> -->
  <!-- <p>{{ trail.location }}</p> -->

  <!-- <div *ngIf="trail.creator === userId">
    <button (click)="onDelete()">Delete</button>
    <button [routerLink]="['/trails/edit', trail._id]">Edit</button>
  </div>  -->
  <!-- </div> -->
  <!-- </div> -->
</div>
