<div class='nav-container'>
  <div routerLink="/home" class="nav-logo">
    <fa-icon [icon]="logo"></fa-icon>
  </div>
  <div class="items-container">
    <div routerLink="/home" class="nav-item">Home</div>
    <div routerLink="/trails" class="nav-item">Hiking Trails</div>
    <div class="nav-item">About</div>
    <div routerLink="/auth/login" *ngIf='!userIsAuthenticated' class="nav-item">Login</div>
    <div routerLink="/auth/register" *ngIf='!userIsAuthenticated' class="nav-item">Sign Up</div>
    <div (click)='onLogout()' *ngIf='userIsAuthenticated' class="nav-item">Logout</div>
  </div>
</div>
