<div class="nav-container">
  <div routerLink="/home" class="nav-logo">
    <fa-icon [icon]="logo"></fa-icon>
  </div>
  <nav class="items-container">
    <a routerLink="/home" class="nav-item">Home</a>
    <a routerLink="/trails" class="nav-item">Explore</a>
    <a class="nav-item" (click)="deleteUser()">About</a>
    <a routerLink="/auth/login" *ngIf="!userIsAuthenticated" class="nav-item"
      >Login</a
    >
    <a routerLink="/auth/register" *ngIf="!userIsAuthenticated" class="nav-item"
      >Sign Up</a
    >
    <a (click)="onLogout()" *ngIf="userIsAuthenticated" class="nav-item"
      >Logout</a
    >
  </nav>
</div>
