<form (ngSubmit)="onSignup(registerForm)" #registerForm="ngForm" appPasswordsUnequal>
  <h1>Register Form</h1>

  <div>
    <input name="name" #name="ngModel" id="name" [(ngModel)]="model.name" type="text" placeholder="Name" maxLength='20'
      required />
    <div [hidden]="name.valid || name.pristine">
      <p>Name is required</p>
    </div>
  </div>

  <div>
    <input name="email" [(ngModel)]="model.email" #email="ngModel" type="email" placeholder="Email" required
      pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />
    <div [hidden]="email.valid || email.untouched">
      <div *ngIf="email.errors?.required">
        Email Is Required.
      </div>
      <div *ngIf="email.errors?.pattern">
        Enter a Valid Email.
      </div>
    </div>
  </div>

  <div>
    <input name="password" [(ngModel)]='model.password' type="password" placeholder="Password" #password="ngModel"
      minlength="6" maxlength="12" required />
    <div [hidden]="password.valid || password.untouched">
      <div *ngIf="password.errors?.required">
        Password Is Required.
      </div>
      <div *ngIf="password.errors?.minlength">
        Password Must Be 6-12 Characters.
      </div>
    </div>
  </div>

  <div>
    <input [id]="registerForm.errors?.passwordsUnequal ? 'error' : ''" name="passwordConfirmation" [(ngModel)]='model.passwordConfirmation'
      type="password" placeholder="Confirm Password" #passwordConfirmation="ngModel" required />
    <div [hidden]="passwordConfirmation.untouched">
      <div *ngIf="registerForm.errors?.passwordsUnequal">
        Passwords Do Not Match
      </div>
    </div>
  </div>
  <div *ngIf="serverErr">
    {{ serverErr }}
  </div>

  <button class="btn" type="submit"
    [disabled]="registerForm.invalid">Sign Up</button>
</form>