:host {
  display: grid;
  place-content: center;

  --form-width: 500px;
  --register-height: 500px;
  --input-height: 40px;

  @media (max-width: 700px) {
    --form-width: 400px;
  }

  @media (max-width: 500px) {
    --form-width: 300px;
    --register-height: 400px;
    --input-height: 35px;
  }
}

.ng-valid[required],
.ng-valid.required {
  border: 2px solid #42a948; /* green */
}

.ng-invalid:not(form),
#error {
  border: 2px solid var(--warning); /* red */
}

.form-container {
  border: 2px solid #00000080;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  border-radius: 3px;
}

.login-form {
  width: var(--form-width);
  height: 300px;
}

.register-form {
  width: var(--form-width);
  height: var(--register-height);
}

form {
  height: 100%;
  width: 100%;
}

.input-fields {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

input {
  justify-self: center;
  height: var(--input-height);
  font-size: 1.2rem;
  width: 80%;
  border-radius: 5px;
}

.btn {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn:enabled {
  box-shadow: none;
  background: var(--success-btn);
  color: white;
  border-style: none;
  box-shadow: 2px 2px 3px #00000040;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.errors {
  color: var(--warning);
  div {
    margin-top: 5px;
  }
}
