<div
class="form-container"
[ngClass]="{'login-form': isLoginScreen, 'register-form': !isLoginScreen}">
  <h5 class='title'>{{ isLoginScreen ? 'Login' : 'Register' }}</h5>
  <form #authForm="ngForm" appPasswordsUnequal>
    <div class='input-fields'>
      <input *ngIf="!isLoginScreen" name="name" [(ngModel)]="model.name" #name="ngModel" type="text" placeholder="Name"
        maxlength="30" required />

      <input name="email" [(ngModel)]="model.email" #email="ngModel" type="email" placeholder="Email" maxlength="80"
        required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />

      <input name="password" [(ngModel)]='model.password' type="password" placeholder="Password" #password="ngModel"
        minlength="6" maxlength="12" required />

        <input *ngIf="!isLoginScreen" [id]="authForm.errors?.passwordsUnequal ? 'error' : ''" name="passwordConfirmation"
          [(ngModel)]='model.passwordConfirmation' type="password" placeholder="Confirm Password"
          #passwordConfirmation="ngModel" required />
    </div>
  </form>

  <button class="btn" (click)='onSubmit(authForm)' [disabled]="authForm.invalid">
    Submit
    <fa-icon class='submit-icon' [icon]="arrow"> </fa-icon>
  </button>
</div>

<div class='errors'>
  <div *ngIf="!isLoginScreen && authForm.controls['name']?.errors?.required && authForm.controls['name']?.touched">
    Name is required
  </div>
  <div *ngIf="email.errors?.required && email.touched">
    Email Is Required.
  </div>
  <div *ngIf="email.errors?.pattern && email.touched">
    Enter a Valid Email.
  </div>
  <div *ngIf="password.errors?.required && password.touched">
    Password Is Required.
  </div>
  <div *ngIf="password.errors?.minlength && password.touched">
    Password Must Be 6-12 Characters.
  </div>
  <div *ngIf="!isLoginScreen && authForm.errors?.passwordsUnequal">
    Passwords Do Not Match
  </div>
  <div *ngIf="serverErr">
    {{ serverErr }}
  </div>
</div>