:host {
  display: grid;
  color: #fff;
}

.image-container {
  width: 100%;
  height: 100%;

  display: grid;
  position: relative;
}

.image-container::after {
  content: '';
  background-color: black;
  opacity: 40%;
  z-index: -1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.image-container::before {
  background-image: url('https://live.staticflickr.com/2891/33833709921_bec1f88a9b_k.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  // opacity: 0.6;
  z-index: -2;
}
.page-container {
  height: 40%;
  width: 500px;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: end;
  justify-items: center;
  align-self: center;
  justify-self: center;
}

h3 {
  font-size: 3rem;
  margin: 0;
  justify-self: start;

  text-shadow: 2px 2px #00000070;
}

app-trees {
  justify-self: center;
  align-self: center;
  grid-row: span 2;
}

p {
  align-self: start;
  justify-self: start;
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;

  text-shadow: 2px 2px #00000070;
}

button {
  grid-column: span 2;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 9px;
  align-self: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
}

@media (max-width: 700px) {
  .page-container {
    width: 330px;
    grid-template-columns: 120px 1fr;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    align-self: start;
  }
}
