:root {
  --green: #5F784A;
  --red:  #a94442;
  --white: #ffffff;
  --brown: #816A53;
  --black: #000000; 

  --background-default: var(--green);
  --background-nav: var(--white);
  --background-container: var(--white);
  --font-color: var(--black);
  --nav-logo: var(--brown);
  --link-active: var(--brown);
  --success-btn: var(--green);
  --warning: var(--red);
}

body {
  background: var(--background-default);
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
